<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="返回" defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>外协评价</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content color="light">
    <ion-card style="margin-top:3px">
      <ion-card-content no-padding style="background:#FFFFFF">
  
        <ion-grid no-padding>
            <ion-row>
                <ion-col size="12">
                  <ion-item>
                    <ion-label position="fixed" class="labelWidth labelFont">日期</ion-label>
                      <ion-datetime display-format="YYYY-MM" [placeholder]="date" [(ngModel)]="condition.MONTH"></ion-datetime>
                  </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
            <ion-col size="6">
              <ion-item>
                <ion-label position="fixed" class="labelWidth labelFont">姓名</ion-label>
                <ion-input class="inputText" type="text" autofocus="true" mode="md" inputmode="text" clearinput="true"
                  [(ngModel)]="condition.CNAME"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item>
                <ion-label position="fixed" class="labelWidth labelFont">使用人</ion-label>
                <ion-input class="inputText"  type="text" mode="md" inputmode="text" clearinput="true"
                  [(ngModel)]="condition.USE_ENAME"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label position="fixed" >项目名称</ion-label>
                <ion-input class="inputText" type="text" mode="md" inputmode="text" clearinput="true"
                  [(ngModel)]="condition.PROJECT_NAME"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div padding>
          <ion-button (click)="query()" expand="block" class="loginButtonPos">
            确认
          </ion-button>
        </div>
      </ion-card-content>

      
  
    </ion-card>
    <ion-card *ngFor="let item of assList"  (click)="goDetail(item)" style="margin-bottom: -15px">
        <ion-list >
            <ion-item > <!--[attr.track]="item.tracks | lowercase"-->
              <ion-label class="labelBorder">
                <h3>{{item.ENAME}} &mdash; {{item.CNAME}}</h3>
                <p color="primary">
                  使用人：{{item.USE_ENAME}}
                </p>
                <p>
                  项目名称：{{item.PROJECT_NAME}}
                </p>
              </ion-label>
              <ion-icon *ngIf="item.IS_ASSESS === '1'" slot="start" name="checkmark" class="orange"></ion-icon>
            </ion-item>
          
          </ion-list>
    </ion-card>
  
  
  
  
  
  </ion-content>
