<ion-card style="width:100%;height:100%;margin:0">
  <ion-card-header no-padding>
    <ion-toolbar>
      <ion-title>分配</ion-title>
    </ion-toolbar>
  </ion-card-header>
  <ion-card-content no-padding>
    <ion-grid fixed no-padding>
      <ion-row>
        <ion-col size="4" no-padding class="groupScoll" style="background:#f4f5f8">

          <ion-item *ngFor="let head of sendTotal;let i=index" class="itemHeader"
            [class.checkItem]="i==headIndex" style="--border-style:none;" (click)="changeContent(i)">
            <ion-label>{{head.desc}}</ion-label>
          </ion-item>

        </ion-col>

        <ion-col size="8" no-padding class="groupScoll">

          <ion-radio-group  *ngIf="headIndex==0" (ionChange)="getDecValue($event)" [(ngModel)]="radioValue.drcValue">
            <ion-item *ngFor="let content of sendContent;let i=index">
              <ion-label>{{content.desc}}</ion-label>
              <ion-radio slot="start" [value]="content.value" [checked]="i==0"></ion-radio>
            </ion-item>
          </ion-radio-group>
       
          <ion-radio-group *ngIf="headIndex==1" (ionChange)="getManValue($event)">
                  <ion-item *ngFor="let content of sendContent;let i =index">
                      <ion-label >{{content.desc}}</ion-label>
                      <ion-radio slot="start"  value="{{content.value}}" [checked]="i==0"></ion-radio>
                    </ion-item>    
          </ion-radio-group>
             


        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card-content>
  <ion-card-header no-padding>
    <ion-toolbar no-padding>
      <ion-button (click)="closeChild()" class="ion-float-left button-div" fill="clear">
        取消
      </ion-button>
      <ion-button (click)="confirm()" class="ion-float-left button-div" fill="clear" style="border-right: 0">
        确认
      </ion-button>
    </ion-toolbar>
  </ion-card-header>
</ion-card>

